@font-face {
  font-family: "Basetica";
  src: local("Basetica"),
    url(../assets/fonts/basetica-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Basetica-Light";
  src: local("Basetica-Light"),
    url(../assets/fonts/BaseticaLight.otf) format("opentype");
}

@font-face {
  font-family: "Wulkan Display";
  src: local("Wulkan Display"),
    url(../assets/fonts/Wulkan\ Display\ Medium.otf) format("opentype");
}

@font-face {
  font-family: "Wulkan Display Italic";
  src: local("Wulkan Display"),
    url(../assets/fonts/Wulkan\ Display\ Italic.otf) format("opentype");
}
