.letter {display: inline-block;}
.headline_text.tricks {
	display: none;
}
.headline_text.tricks.active {
	display: block;
}
.tricksword {white-space: nowrap;}

/* ALL PAGES CSS */
/* Your max width code replaces the code below */
@media only screen and (min-width: 1560px) {
	body {font-size: 0.975em;}
}
/* Desktop Only CSS (i.e. hover states) */
@media only screen and (min-width: 992px) {
}
/* Main Variables */
:root {
  --main-dark: black;
  --main-light: white;
}
/* Global Styles */
::selection {
	background: var(--main-dark);
  color: var(--main-light);
  text-shadow: none;
}
img::selection, svg::selection {
	background: transparent;
}
/* Link color inherits from parent font color  */
a {
	color: inherit;
}
/* Disable / enable clicking on an element and its children  */
.no-click {
	pointer-events: none;
}
.can-click {
	pointer-events: auto;
}
/* Target any element with a certain "word" in the class name  */
[class*="spacer"] {
}